/* Add the following styles in your AdminNabBar.css file */

.adminnavar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff; /* Choose your desired background color */
    color: rgb(144, 91, 91); /* Choose your desired text color */
}

.log img {
    width: 50px; /* Adjust the logo width as needed */
    height: auto;
}

.option {
    display: flex;
}

.option a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 15px;
}
/* .option a {
    margin-right: 15px;
    text-decoration: none;
    color: rgb(2, 2, 2); /* Choose your desired text color for links */


/* .option a:hover { */
    /* text-decoration: underline; Add an underline effect on hover */
/* } */
